
<div class="indexContainer">
	<div class="newIndex">
		<%= render :partial => 'new_index', :object=> @form %>
	</div>

	<div class="openIndex">
		<%=render :partial=> 'open_index', :object=> @forms%>	
	</div>
</div>

